@use "../lib/globals/colors.scss";

body {
    min-height: 100vh;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background: colors.$backgroundColor;

    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

